@model IEnumerable<IDMB.Models.TopBoxOffice>

@{
    ViewData["Title"] = "Top Box Office";
}

<h2>Top Box Office</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weekend)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gross)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Week)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weekend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gross)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Week)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
